@media (max-width: 1700px) {
  .gallery__content {
    min-width: 300px;
  }

  .events__content {
    min-height: 450px;
  }
}

@media (max-width: 1500px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__nav,
  .header__enter {
    margin-left: 0;
  }

  .map {
    padding: 0;
  }

  .catalog .accordion .item__painter-list_active {
    height: 434px;
  }

  .catalog .accordion .item__painter-content {
    flex-basis: 220px;
  }

  .catalog .accordion .item__painter-list svg {
    width: 173px;
    height: 114px;
    outline-offset: 8px;
  }

  .catalog .accordion .item__painter-list_empty_active {
    flex-wrap: nowrap;
    height: 188px;
  }
}

@media (max-width: 1124px) {
  .head-swiper img {
    height: 768px;
  }

  /* header */

  .header__burger {
    display: block;
  }

  .header__nav {
    position: absolute;

    left: 0;
    top: 0;
    z-index: 100;

    padding: 100px 50px 50px;

    width: 100%;
    height: 100vh;

    background: #000000e6;

    overflow-y: auto;
    transform: translateX(-120%);

    visibility: hidden;

    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }
  .header__nav_active {
    transform: none;
  }
  .header__nav_visible {
    visibility: visible;
  }

  .header .nav__list {
    flex-direction: column;
  }

  .header__up .nav__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
  }

  .header__enter {
    display: none;
  }

  .nav__burger-enter {
    display: block;
  }

  .header__logo {
    min-width: 187.6px;
    min-height: 42px;
  }

  .header__finder {
    display: flex;
  }

  .header__down {
    display: none;
  }

  /* hero  */

  .hero {
    padding-top: 105px;
    padding-bottom: 115px;

    width: 100%;
  }

  .hero__content {
    width: 661px;
    min-height: 448px;
  }

  .hero__descr {
    margin-top: -10px;
  }

  /* gallery */

  .gallery__local-container {
    height: 560px;
  }

  .gallery__content {
    padding-bottom: 45px;

    min-width: 280px;
  }

  .gallery__checkbox {
    row-gap: 14px;
  }

  .gallery .modal__window {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    width: 594px;
    height: 594px;

    background-color: #fff;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);

    color: #000;
  }

  .gallery .modal__content {
    position: relative;

    padding: 120px 50px;

    overflow: hidden;
  }

  .gallery .modal__img {
    min-width: 264px;
    height: 100%;
  }

  /* catalog */

  .catalog .content__img {
    height: 274px;
  }

  .catalog .block__content {
    width: 437px;
  }

  /* events  */

  .events__content {
    padding: 14px 28px 49px 34px;

    min-height: 420px;
  }
  .events__place-and-date {
    margin-bottom: 5px;
    align-self: flex-end;
    text-align: end;
  }

  .events .swiper-button-next-2,
  .events .swiper-button-prev-2 {
    display: none;
  }

  .swiper-pagination-events {
    display: block;
    margin-top: 18px;
    margin-bottom: -10px;
    text-align: center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background: #666666;
  }

  /* projects */

  .projects__swiper {
    margin: 0 53px;
  }

  .projects__item {
    width: 384px;
    height: 128px;
  }
  .projects__label {
    width: 210px;
    height: 52px;
  }

  /* contacts */

  .contacts__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .contacts__title {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .contacts__address {
    font-size: 14px;
    line-height: 19px;
  }

  /* footer  */

  .footer__container {
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__logo {
    object-fit: cover;
    max-width: 188px;
    max-height: 42px;
  }

  .footer__social {
    height: 60px;
  }

  .footer__social svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 850px) {
  /* .hero */

  .hero__content {
    width: 100%;
  }

  /* gallery */

  .gallery__local-container {
    flex-wrap: wrap;
    row-gap: 40px;

    height: 889px;
  }

  .gallery__content {
    padding-bottom: 0;
  }

  .gallery__checkbox {
    margin-top: 45px;
  }

  .gallery__checkbox_active {
    margin-top: 115px;
    margin-bottom: -30px;
  }

  .gallery .swiper__navigation {
    margin-top: 11px;
  }

  .gallery .modal__img {
    width: 301px;
  }

  /* catalog */

  .catalog {
    margin-bottom: -22px;
  }

  .catalog__block {
    flex-direction: column-reverse;
  }

  .catalog .block__content {
    flex-basis: 0;
  }

  .catalog .content__img {
    margin-bottom: 21px;
  }

  .catalog .content__title {
    margin-top: 0;
    margin-bottom: 9px;
  }

  .catalog .content__date {
    margin-bottom: 6px;
  }

  .catalog__descr {
    margin-bottom: 19px;
  }

  .catalog .block__content {
    width: 100%;
  }

  .catalog .content__img {
    height: 419px;
  }

  .catalog .accordion .item__painter-list_active {
    height: 339px;
  }

  .catalog .accordion .item__painter-list svg {
    width: 251px;
    height: 165px;
    outline-offset: 12px;
  }

  .catalog .accordion .item__painter-content {
    flex-basis: 270px;
  }

  .catalog .accordion .item__painter-list_empty_active {
    height: 239px;
  }

  /* events */

  .events__content {
    min-height: 420px;
  }

  .events__picture img {
    height: 200px;
  }

  /* project */

  .projects__item {
    height: 106px;
  }

  .projects__descr {
    margin-bottom: 27px;
  }

  .projects__name {
    margin-bottom: 29px;
  }

  /* contacts  */

  .contacts__form {
    row-gap: 15px;
  }

  .contacts .form__input {
    width: 323px;
  }

  .contacts .form__btn {
    width: 317px;
  }
}

@media (max-width: 767px) {
  .projects__item {
    min-width: 100%;
  }
  .events__content {
    min-height: 483px;
  }
}

@media (max-width: 678px) {
  .header__container {
    column-gap: 30px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 70px;
  }

  .gallery__content {
    width: 100%;
  }

  .gallery .swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .gallery .swiper__navigation {
    margin: 20px auto 5px;
  }

  .gallery .swiper-slide img {
    margin: 0 auto;
  }

  .gallery .swiper-slide::before {
    width: 350px;
    margin: 0 calc(50% - 175px);
  }

  .gallery .modal__window {
    flex-direction: column;

    width: 290px;
    height: 600px;
  }

  .gallery .modal__img {
    position: relative;

    width: 100%;
    height: 200px;
  }

  .gallery .modal__content {
    position: unset;

    width: 100%;
    padding: 20px;
  }

  .gallery .modal__descr {
    margin-top: 12px;
  }

  /* catalog */

  .catalog .accordion .item__painter-list_active {
    height: 434px;
  }

  .catalog .accordion .item__painter-list_empty_active {
    height: 239px;
  }

  .projects__swiper {
    margin: 0 85px;
  }

  .events__picture img {
    height: 100%;
  }
}

@media (max-width: 450px) {
  .nowrap {
    white-space: nowrap;
  }

  h2 {
    margin-bottom: 12px;

    font-size: 28px;
    line-height: 38px;
  }

  .container {
    padding: 50px 15px;
  }

  .map {
    padding: 0;

    height: 320px !important;
  }

  .head-swiper img {
    height: 355px;
  }

  /* header  */

  .header__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__up {
    height: 45px;
    align-items: center;
  }

  .header__logo {
    object-fit: cover;
    min-width: 96.8px;
    min-height: 21.67px;
    max-width: 96.8px;
    max-height: 21.67px;
  }

  .header__burger {
    width: 25px;
    height: 18px;

    background-image: url('../img/header/Burger-320.svg');
  }
  .header__burger:active {
    background-image: url('../img/header/Burger-320.svg');
  }

  .header__burger_active {
    width: 15px;
    height: 15px;

    background-image: url('../img/header/Xs.svg');
  }
  .header__burger_active:active {
    width: 15px;
    height: 15px;

    background-image: url('../img/header/Xs-act.svg');

    outline: none;
  }

  .header__up .header__nav {
    padding-top: 50px;
    padding-left: 15px;
  }

  .header__up .nav__link {
    font-size: 16px;
    line-height: 32px;
  }

  .nav__burger-enter {
    width: 115px;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
  }

  .nav__burger-enter svg {
    width: 9px;
    height: 9px;
  }

  .header__finder {
    width: 18px;
    height: 18px;
  }

  .finder__btn {
    min-width: 18px;
    min-height: 18px;

    background-image: url('../img/header/find-btn-320.svg');
  }

  .finder__btn:active {
    min-width: 18px;
    min-height: 18px;

    background-image: url('../img/header/find-btn-320-act.svg');
  }

  .finder__input {
    height: 18px;

    font-size: 16px;
    line-height: 16px;
  }
  
  .finder__closer {
    min-width: 18px;
    min-height: 18px;
  }

  /* hero */

  .hero {
    padding-top: 30px;
    padding-bottom: 45px;

    text-align: center;
  }

  .hero__content {
    align-items: center;

    min-height: 235px;
  }

  .hero__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .hero__descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__btn {
    padding: 0;

    width: 200px;
    height: 40px;

    font-size: 12px;
    line-height: 16px;
  }

  /* about-us */

  .about-us {
    margin-bottom: -9px;
  }

  .about-us__descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* .gallery  */
  .gallery__local-container {
    height: 800px;
  }

  .gallery__checkbox {
    margin-top: 29px;
  }

  .gallery__checkbox_active {
    margin-top: 115px;
    margin-bottom: -20px;
  }

  .gallery__swiper {
    margin-top: -14px;
  }

  .gallery .swiper-slide img {
    height: 367px;
  }

  /* catalog  */

  .catalog {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .catalog__descr {
    display: none;
  }

  .catalog .content__img {
    height: 181px;
  }

  .catalog .block__accordion {
    flex-basis: 100%;
  }

  .catalog .accordion .item__block {
    padding: 20px 0;
  }
  .catalog .accordion__item .item__descr {
    font-size: 18px;
  }

  .catalog .accordion .item__btn {
    min-width: 30px;
    height: 30px;
  }

  .catalog .content__empty-block {
    height: 181px;

    background-image: url('../img/catalog/painter2.svg');
  }

  .catalog .accordion .item__painter-list_active {
    padding: 20px 0;
    height: 808px;
  }

  .catalog .accordion .item__painter-list_empty_active {
    padding: 25px 0;
    height: 180px;
  }

  .catalog .accordion .item__painter-list svg {
    width: 79px;
    height: 118px;

    outline-offset: 6px;
  }

  .catalog .accordion__item .painter-content__title {
    font-size: 18px;
  }

  .catalog .content__date {
    margin-bottom: 11px;
  }

  /* events  */

  .events__place-and-date {
    margin-bottom: 9px;
  }

  .events__content {
    padding: 18px 17px 47px 23px;

    min-height: 417px;
  }

  .swiper-pagination-events {
    margin-top: 8px;
  }

  .events
    .swiper-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
  }

  /* project */
  .projects {
    padding-top: 0;
  }

  .projects__swiper {
    margin: 0 48px;
  }

  .projects__item {
    width: 195px;
    height: 65px;
  }

  .projects__label {
    width: 105px;
    height: 26px;
  }

  .projects__name {
    margin-bottom: 10px;

    font-size: 18px;
  }

  .projects__descr {
    margin-bottom: 20px;
  }

  /* contacts */

  .contacts__content {
    padding-top: 0;
    padding-bottom: 20px;
    gap: 20px;

    border: none;
  }

  .contacts__title {
    margin-top: -4px;
    margin-bottom: 1px;

    font-size: 18px;
  }

  .contacts__form {
    row-gap: 20px;
  }

  .contacts .form__input {
    width: 290px;
    height: 40px;
  }
  .contacts .form__btn {
    width: 128px;
    height: 40px;
  }
  .contacts .btn-normal {
    display: none;
  }
  .contacts .btn-narrow {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    display: inline;
  }

  .contacts__text {
    font-weight: 400;
    font-size: 18px;
  }

  .contacts__link svg {
    width: 50px;
    height: 50px;
  }

  /* footer */

  .footer__container {
    flex-direction: column-reverse;
    justify-content: flex-start;

    padding: 20px 0;
    gap: 20px;

    height: 132px;
  }

  .footer__logo {
    max-width: 97px;
    max-height: 22px;

    min-width: 97px;
    min-height: 22px;
  }

  .footer__social {
    height: 50px;
  }

  .footer__social svg {
    width: 50px;
    height: 50px;
  }
}
